<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crawlmb"
    android:installLocation="preferExternal"
    android:versionCode="5"
    android:versionName="0.11.0" >

    <uses-sdk android:minSdkVersion="9" />

    <application
        android:icon="@drawable/stone_soup_icon_512x512"
        android:name=".CrawlApplication"
        android:label="@string/app_name" >
        <activity
            android:name=".CrawlAppActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden" 
            android:launchMode="singleTask" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".CharacterFilesActivity"
            android:label="@string/morgue" 
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ConfigEditor"
            android:theme="@android:style/Theme.Light"
            android:windowSoftInputMode="stateHidden"
            android:label="Config Editor">
        </activity>
        <activity
            android:name=".CharFileViewer"
            android:theme="@android:style/Theme.Light"
            android:windowSoftInputMode="stateHidden"
            android:label="Character File Viewer">
        </activity>
        <activity android:name=".PreferencesActivity" android:label="@string/app_name" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="org.angdroid.angband.PREF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
